<!-- Hero Section -->
<section class="bg-custom-blue text-white py-16 relative">
    <div class="container mx-auto px-6 text-center">
        <h1 class="text-5xl font-bold mb-6">Cygnixy</h1>
        <p class="text-xl max-w-4xl mx-auto mb-8">
            Revolutionizing the way you automate workflows in EVE Online using behavior trees.
        </p>

        <button id="download-btn"
            class="bg-white text-custom-blue px-8 py-4 rounded-md shadow-md font-bold text-lg hover:bg-gray-100">
            Download Now
        </button>
    </div>

    <div class="mt-8 flex justify-center">
        <img src="images/screen.png" alt="App Screenshot" class="rounded-lg shadow-lg w-[768px] hidden md:block">
    </div>
</section>